{% extends 'base.html' %}

{% block main %}
<div>
    <h1>Wishlist Login</h1>
</div>
<form method="post" action="/api/user/login" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div>
    {{ form.email.label }} {{ form.email }}
    </div>
    <br>
    <div>
    {{ form.password.label }} {{ form.password }}
    </div>
    <br>
    <input type="submit" value="Login">
    <br>
    <p>If you are a new user Please  <a href="{{ url_for('newprofile') }}">CLICK HERE</a> to register </p>
    <br>
    
    
    
</form>
{% endblock %}