{% extends "base.html" %}


{% block main %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }} </p>
    {% endif %}
    <div class="container" ng-controller = "appController">
        <br><h4>Please select an image for your thumbnail</h4><br>
        {% for image in images %}
            <div ></div>
            <!--<input type="radio" name="image" value="{{ image }}"><img src="{{image}}" height="100" width="100" name="img_url"/></a>-->
            <!--<a href="/api/thumbnail/process/<wishid>" ng-click="myClickedEvent"><img src="{{image}}" height="100" width="100" name="theimage" id="myImg"/></a>-->
            <img src="{{image}}" height="100" width="100" name="theimage" id="myImg" ng-click="myClickedEvent($event)"/>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
{% endblock %}