{% extends "base.html" %}


{% block main %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }} </p>
    {% endif %}
    
<body>
    <div class="container">
        <br><h4>Please select an image for your thumbnail</h4><br>
        {% for image in images %}
            <img src="{{image}}" height="100" width="100" name="theimage" onclick="storeurl(this.src);return false;"/>
        {% endfor %}
        <img src="http://ecx.images-amazon.com/images/I/91lEkHbDwLL._SY355_.jpg" height="100" width="100" alt="theimage"/>
        <img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4481/4481400_sd.jpg" height="100" width="100" alt="theimage"/>
        <img src="http://ecx.images-amazon.com/images/I/713a0-PujUL._SL1500_.jpg" height="100" width="100" alt="theimage"/>
    </div>
</body>
{% endblock %}